flask
flask-cors
werkzeug
transformers
sentence-transformers
spacy
numpy
spacy-transformers
pymupdf
dateparser
torch
thinc
Flask-Login
Flask-Session
Authlib
gunicorn
python-dotenv
flask-sqlalchemy
flask-mail
