flask
flask-session
flask-cors
flask-login
flask-sqlalchemy
flask-mail
authlib
psycopg2-binary
python-dotenv
werkzeug
google-genai
spacy>=3.7.0
sentence-transformers
torch
pandas
numpy
gunicorn
pymupdf
mammoth
python-docx
# pre-built model for spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
